doctype html
html
    head
        title= title
        link(rel='stylesheet',href='/stylesheet/main.css')
        link(href='http://fonts.googleapis.com/css?family=Roboto+Condensed',rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Roboto+Slab',rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Indie+Flower',rel='stylesheet', type='text/css')
    body
        div(id="header")
            h1
                | Vikene's Blog
            section(id="status")
                div(class="status_text offline")
                    | #{status}
        
        div(id="content")
            each blog, i in bloglist
                section(id="post")
                    div(id="post_head")
                        | #{blog.headling}
                    div(id="post_content")
                        | #{blog.content}
                    div(id="post_tags")
                        | #{blog.tags}
                        div(id="like")
                            | #{blog.like}
                
                
        